<nav class="navbar-fixed-top navbar-urTeam" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Desplegar navegación</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
            </button>
    <a class="navbar-left" [routerLink]="['/']"><img alt="urTeam" src="/images/logo.png" width="150px"></a>
  </div>

  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse navbar-inner">
    <ul class="nav navbar-nav minav">
      <li><a [routerLink]="['/events']">Eventos</a></li>
      <li><a [routerLink]="['/communities']">Comunidades</a></li>

    <form class="navbar-form searchBar">
					<div class="input-group search">
						<input [(ngModel)]="criteria" type="text" class="form-control" placeholder="Search"
							name="toSearch">
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit" (click)="search()">
								<i class="fa fa-search" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</form>
        

      <li *ngIf="sessionService.getisLogged()">
        <a *ngIf="sessionService.getisAdmin()" [routerLink]="['/admin']">Admin Zone!</a>
      </li>
    </ul>
    <ul *ngIf="!sessionService.getisLogged()" class="nav navbar-nav navbar-right minav">
      <li>
        <a [routerLink]="['/login']">Iniciar Sesión / Registro
    </a>
      </li>
    </ul>

    <ul *ngIf="sessionService.getisLogged()" class="nav navbar-nav navbar-right minav">
      <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="user-name">Hola, {{sessionService.getUser()?.nickname}} </span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <div *ngIf="sessionService.getUser()" class="navbar-content">
              <a [routerLink]="['/users/',sessionService.getUser().nickname]">Mi perfil
							<div class="divider"></div>
						</a>
            </div>
          </li>
          <li>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <input type="submit" name="logout-submit" id="logout-submit" class="btn mybtn-succes" value="Log Out" (click)="logOut()">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
