body {
    padding-top: 90px;
}

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.panel-login>.panel-heading a {
    text-decoration: none;
    color: #c5c0c1;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login>.panel-heading a.active {
    color: #4f7d92;
    font-size: 18px;
}

.panel-login>.panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-login {
    color: #0a1612;
    background-color: #f7ce3e;
    border-color: #f7ce3e;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
}

.btn-login:hover,
.btn-login:focus {
    color: #0a1612;
    background-color: #c5a431;
    border-color: #c5a431;
}

.forgot-password {
    text-decoration: underline;
    color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    color: #0a1612;
    background-color: #f7ce3e;
    border-color: #f7ce3e;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
}

.btn-register:hover,
.btn-register:focus {
    color: #0a1612;
    background-color: #c5a431;
    border-color: #c5a431;
}

.text-red{
	color: red;
}

.ui-widget {
    background: #1a2930;
    color: #fff;
}

.ui-widget-content{
    color: #fff;
}

.ui-progressbar {
    height: 1.6em;
    width: inherit;
}

.ui-progressbar .ui-progressbar-label {
    color: #fff;
}
.ui-progressbar .ui-progressbar-value{
     background-color: #c5a431;
     width: 3em;
}

.ui-tabview {
    background: #1a2930;
    color: #fff;
}

.ui-tabview .ui-tabview-nav {
    background: #1a2930;
    color: #fff;
}

.ui-tabview .ui-tabview-nav {
    background: #1a2930;
    color: #fff;
}

.ui-widget-header .ui-state-default a,
.ui-widget-content .ui-state-default a,
.ui-state-default a {
    color: #1a2930;
    background: #f7ce3e;
}

.ui-widget-header .ui-state-active a,
.ui-widget-content .ui-state-active a,
.ui-state-active a {
    color: #fff;
    background: #1a2930;
}

.ui-tabview .ui-tabview-panels {
    color: #fff;
}

.ui-datalist{
    background: #1a2930;
    color: #fff;
    border: none;
}

.ui-datalist .ui-datalist-content{
    background: #1a2930;
    color: #fff;
}

.ui-widget-content{
    border: none;
}

.ui-widget-header {
 border: none;
}

.ui-paginator .ui-paginator-page.ui-state-active {
    background: #f7ce3e;
    color: #1a2930;
    border-color: #f7ce3e;
}
