<div class="container">
  <div class="row">
    <div class="content">
      <div class="col-sm-12">
        <br>
        <br>
        <div *ngIf="sessionService.getisLogged()" class="btn-groups">
          <a [routerLink]="['/events/create']">
          <button class="btn mybtn-succes">Crear Evento</button>
          </a>
        </div>
        <br>
        <br>
        <div class="col-sm-4" *ngFor="let event of events">
          <div class="panel panel-primary event-primary">
            <div class="panel-heading">
              <div class="row nopadding">
                <div class="col-sm-9 nopadding">
                  <span class="name">{{event.name}}</span>
                </div>
                <div class="col-sm-3 nopadding">
                  <span class="year">{{event.year_date}}</span>
                </div>
              </div>
            </div>
            <div class="panel-body nopadding">
              <p>{{event.sport}}</p>
              <img src="https://localhost:8443/api/events/{{event.id}}/avatar" alt="{{event.name}}" class="img-responsive" />
              <div class="row nopadding">
                <div class="col-sm-6 nopadding">
                  <time class="start blue">
                    Fecha
                    <span class="day">{{event.day_date}}</span>
                    <span class="month">{{event.month_date}}</span>
                  </time>
                </div>
                <div class="col-sm-6 nopadding">
                  <time class="end blue">
                    Precio <span class="day">{{event.price}}</span>
                    <span class="month">€</span>
                  </time>
                </div>
              </div>
            </div>
            <div class="panel-footer panel-primary">
              <div class="infoBox">
                <p>
                  {{event.info}}
                </p>
              </div>
              <a [routerLink]="['../events', event.id]" class="btn btn-success mybtn-succes">Más información</a>
            </div>
          </div>
        </div>
      </div>
      <div class="styleMoreEvents">
        <button id="btnMoreEvents" type="button" class="btn mybtn-succes btnMoreEvents" (click)="moreEvents()">{{moreEventsButtonText}}</button>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
