<div class="container">
  <div class="row">
    <div class="content">
      <div class="col-sm-11">
        <div class="panel panel-primary event-primary">
          <div class="panel-heading">
            <div class="row nopadding">
              <div class="col-sm-9 nopadding">
                <p>Titulo</p>
              </div>
              <div class="col-sm-3 nopadding">
                <span class="year">2017</span>
              </div>
            </div>
          </div>
          <div class="panel-body nopadding">
            <div class="row nopadding">
                <div class="col-sm-6 nopadding">
                  <time class="start blue"> Fecha <span class="day">31</span><span class="month">Dic</span></time>
                </div>
                <div class="col-sm-6 nopadding">
                  <time class="end blue"> Precio <span class="day">20</span><span class ="month">€</span></time>
                </div>
            </div>
          </div>
          <div class="panel-footer panel-primary">
            <p>La San Silvestre Vallecana es la carrera que cada 31 de diciembre congrega a más de 40.000 personas por las calles de Madrid desde 1964.</p>
            <a href="event.html" class="btn btn-success mybtn-succes">Más información</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>