
<div *ngIf="user">
  <div class="row profile">

    <div class="col-md-3">

      <!-- Start of left column -->
      <div class="profile-sidebar">
        <!-- SIDEBAR userpagePIC -->
        <div class="profile-userpic">
          <img src="https://localhost:8443/api/users/{{user.nickname}}/avatar" class="img-responsive" alt="avatar">
        </div>
        <!-- END SIDEBAR userpagePIC -->
        <!-- SIDEBAR userpage TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">{{user.username}} {{user.surname}}
          </div>
          <div class="profile-usertitle-name">@{{user.nickname}}</div>
          <div class="profile-usertitle-name">
            <!--{{numberOfFollowers}} -->
            {{user.followers.length}} Seguidore/s
          </div>
          <div class="profile-usertitle-name">{{user.city}}, {{user.country}}
          </div>
          <div class="profile-usertitle-job">Puntuación: {{user.score}}
          </div>
        </div>
        <!-- END SIDEBAR userpage TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div *ngIf="sessionService.getisLogged()" class="profile-userbuttons">
          <div *ngIf="checkNotMe()">
            <button  *ngIf="checkIsMyFriend()" class="btn btn-default group-btn" (click)="follow()">Dejar de seguir</button>
            <button *ngIf="!checkIsMyFriend()" class="btn btn-default group-btn" (click)="follow()">Seguir</button>
          </div>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a pageScroll href="#profile" class="page-scroll">
                <i class="fa fa-user-circle" aria-hidden="true"></i> Biografia
              </a>
            </li>
            <li>
              <a pageScroll href="#goals" class="page-scroll"> <i class="fa fa-flag-checkered" aria-hidden="true"></i> Logros
              </a>
            </li>

            <li>
              <a pageScroll href="#progress" class="page-scroll"> <i class="fa fa-line-chart" aria-hidden="true"></i> Progreso
              </a>
            </li>

            <li>
              <a pageScroll href="#communities" class="page-scroll"> <i class="fa fa-users" aria-hidden="true"></i> Comunidades
              </a>
            </li>

            <li>
              <a pageScroll href="#events" class="page-scroll"> <i class="fa fa-users" aria-hidden="true"></i> Eventos
              </a>
            </li>


            <li>
              <a pageScroll href="#friends" class="page-scroll"> <i class="fa fa-address-book" aria-hidden="true"></i> Siguiendo
              </a>
            </li>
            <!--{{^buttonfollowing}}
						<li><a data-toggle="modal"
							data-target="#profile-settings-modal"> <i class="fa fa-cogs"
								aria-hidden="true"> </i>Configuración
						</a></li> 
                        {{/buttonfollowing}}-->
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
        <div class="container-fluid info-box" id="profile">
          <div class="row">
            <div class="col-sm-12">
              <h3>
                <i class="fa fa-user-circle" aria-hidden="true"></i> Biografia
              </h3>

            </div>
          </div>
          <!--/row-->
          <hr class="hr-yellow">
          <div class="row">{{user.bio}}</div>
          <br> <br>
        </div>
        <div class="container-fluid info-box" id="goals">
          <div class="row">
            <div class="col-sm-12">
              <h3>
                <i class="fa fa-flag-checkered" aria-hidden="true"></i> Logros
              </h3>
              
            </div>
          </div>
          <!--/row-->
          <hr class="hr-yellow">
          <div class="row">
            <div class="skillBar">
              <h4>Nivel {{level}}</h4>
              <p-progressBar [value]="value"></p-progressBar>
            </div>
          </div>
          <br> <br>
        </div>
        <div class="container-fluid info-box" id="progress">
          <div class="row">
            <div class="col-sm-12">

              <h3>
                <i class="fa fa-line-chart" aria-hidden="true"></i> Progreso
              </h3>
              <div class="col-sm-12">
                <a data-toggle="modal" data-target="#myModal_addStat"><button
										class="btn mybtn-succes">Añadir sesión</button></a> <br>
              </div>
            </div>
          </div>
          <!--/row-->
          <!--{{#userSportList}}
					<div class="statsTable">
						<h4>{{key}}</h4>
						<hr class="hr-yellow">
						<table style="width: 100%">
							<tr>
								<th>Fecha</th>
								<th>Tiempo</th>
							</tr>
							{{#value.stats}}
							<tr>
								<td>{{date}}</td>
								<td>{{totalSesionTime}}</td>
							</tr>
							{{/value.stats}}
						</table>
					</div>
					<br>
					{{/userSportList}}-->
          <hr class="hr-yellow">
          <google-chart [data]="pieChartOptions"></google-chart>
        </div>
        <div class="container-fluid info-box" id="communities">
          <div class="row">
            <div class="col-sm-12">
              <h3>
                <i class="fa fa-users" aria-hidden="true"></i> Comunidades
              </h3>
            </div>
          </div>
          <!--/row-->
          <hr class="hr-yellow">
          <div class="row">
                <div class="container-fluid">
                    <div *ngFor="let userCommunity of user.communityList">
                        <p>{{userCommunity.name}}</p>
                    </div>
                </div>
          </div>
        </div>
        <div class="container-fluid info-box" id="events">
          <div class="row">
            <div class="col-sm-12">
              <h3>
                <i class="fa fa-users" aria-hidden="true"></i> Eventos
              </h3>
            </div>
          </div>
          <!--/row-->
          <hr class="hr-yellow">
          <div class="row">
                <div class="container-fluid">
                    <div *ngFor="let userEvent of user.eventList">
                        <p>{{userEvent.name}}</p>
                    </div>
                </div>
          </div>
        </div>

        <br> <br>
      </div>

      <div class="container-fluid info-box" id="friends">
        <div class="row">
          <div class="col-sm-12">
            <h3>
              <i class="fa fa-address-book" aria-hidden="true"></i> Siguiendo
            </h3>
          </div>
          <!--/row-->
          <hr class="hr-yellow">
          <div class="row friendrow">

                <div class="container-fluid">
                    <div *ngFor="let friend of user.following">
                        <p>{{friend.name}},{{friend.surname}}</p>
                    </div>
                </div>
        
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="profile-settings-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Configuración de tu perfil</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-9">
              <form class="form-horizontal" role="form" action="/user/{{nickname}}/edit" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <div class="col-md-9">
                    <div class="text-center">
                      <!--  <img src="/image/user-avatar/{{userpage.id}}/{{userpage.avatar}}" class="avatar img-circle" alt="avatar">
                  -->
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="avatar" class="col-sm-3 control-label">Avatar</label>
                  <div class="col-sm-9">
                    <input class="form-control" type="file" name="file" aria-describedby="fileHelp">

                  </div>
                </div>

                <div class="form-group">
                  <label for="firstName" class="col-sm-3 control-label">Nombre</label>
                  <div class="col-sm-9">
                    <input type="text" id="firstName" value="{{user.username}}" class="form-control" autofocus required="required" name="username">

                  </div>
                </div>
                <div class="form-group">
                  <label for="lastName" class="col-sm-3 control-label">Apellidos</label>
                  <div class="col-sm-9">
                    <input type="text" id="lastName" value={{user.surname}} class="form-control" autofocus required="required" name="surname">
                  </div>
                </div>
                <div class="form-group">
                  <label for="email" class="col-sm-3 control-label">Email</label>
                  <div class="col-sm-9">
                    <input type="email" id="email" value={{user.email}} class="form-control" required="required" name="email">
                  </div>
                </div>
                <!-- 
							<div class="form-group">
								<label for="nickname" class="col-sm-3 control-label">Nickname</label>
								<div class="col-sm-9">
									<input type="text" id="password" value={{userpage.nickname}}
										class="form-control">
								</div>
							</div>
							 -->
                <div class="form-group">
                  <label for="bio" class="col-sm-3 control-label">Biografia</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" rows="5" name="bio">{{user.bio}}</textarea>
                  </div>
                </div>
                <!-- 
								 <div class="form-group">
								<label for="birthDate" class="col-sm-3 control-label">Fecha
									de nacimiento</label>
								<div class="col-sm-9">
									<input type="date" id="birthDate" class="form-control">
								</div>
							</div>
							 -->
                <div class="form-group">
                  <label for="city" class="col-sm-3 control-label">Ciudad</label>
                  <div class="col-sm-9">
                    <input type="text" id="city" value={{user.city}} class="form-control" name="city">
                  </div>
                </div>
                <div class="form-group">
                  <label for="country" class="col-sm-3 control-label">Pais</label>
                  <div class="col-sm-9">
                    <input type="text" id="country" value={{user.country}} class="form-control" name="country">
                  </div>
                </div>
                <div class="col-sm-9 col-sm-offset-3">
                  <button type="submit" class="btn btn-primary btn-block mybtn-succes">Guardar</button>
                </div>
              </form>
              <!-- /form -->
            </div>
          </div>
          <!-- row -->
        </div>
      </div>

    </div>
  </div>
  <!-- End Modal Edit userpage -->

  <!-- Modal Add Stat -->
  <div id="myModal_addStat" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Información</h4>
        </div>
        <div class="modal-body">
          <div class="form-container">
            <form class="form-group" action="" method="post">
              <label style="color: black;" for="sport">Deporte</label>            
              <select [(ngModel)]="sport" class="form-control" name="sport"required="required">
                      <option>Mountain Bike</option>
                      <option>Running</option>
                      <option>Roller</option>
              </select>
              <br>
              <label style="color: black;" for="sport">Fecha de realización</label>
              <input type="date" [(ngModel)]="date" class="form-control" name="date">
              <br>
              <label style="color: black;" for="sport">Tiempo de sesión</label>
              <input type="number" [(ngModel)]="sesionTime" class="form-control" name="sesionTime">
              <div class="addButton">
                <br>
                <button type="submit" class="btn mybtn-succes addButton"  (click)="addStats(sport, date, sesionTime)">+</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal Add Stat -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!--Page scroll-->
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/scrolling-nav.js"></script>

<!-- charts -->
<!-- Navigation bar -->
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  $(function () {
    $('[data-toggle="popover"]').popover()
  })

</script>
