<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Comunidades</h4>
                </div>
                <div class="content">
                    <ul>
                    {{#communities}}
                    	<li>
                    		<a href="/adminPanel/manageGroups/delete/{{id}}"><i class="fa fa-times" aria-hidden="true"></i></a>
                    		<a href="/group/{{id}}">{{name}}</a>
                    	</li>
                    {{/communities}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>