<div class="container-fluid">
	<h3 style="text-align:center">Aquí puedes administrar los eventos, comunidades y usuarios de la aplicación.</h3>
	<h3 style="text-align:center">Selecciona una pestaña del menú lateral.</h3>
    <!-- 
    <div class="form-container">
        <form class="form-group">
            <div class="form-group">
                <label for="newName">Apodo*</label>
                <input type="text" class="form-control" id="eventName" placeholder="Apodo anterior">
            </div>
            <div class="form-group">
                <label for="newName">Nombre*</label>
                <input type="text" class="form-control" id="eventName" placeholder="Nombre anterior">
            </div>
            <div class="form-group">
                <label for="newName">Apellidos*</label>
                <input type="text" class="form-control" id="eventName" placeholder="Apellidos anteriores">
            </div>
            <div class="form-group">
                <label for="newName">E-mail*</label>
                <input type="text" class="form-control" id="eventName" placeholder="e-mail anterior">
            </div>
            <div class="form-group">
                <label for="sportSelect">Deporte principal</label>
                <select class="form-control" id="sportSelect">
			      <option>Mountain Bike</option>
			      <option>Runnig</option>
			      <option>Roller</option>
			    </select>
            </div>
            <div class="form-group">
                <label for="eventImage">Avatar</label>
                <input type="file" class="form-control-file" id="eventImage" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">Tamaño recomendado 200px x 200px</small>
            </div>
            <div style="text-align:center;">
                <button type="submit" class="btn btn-primary btn-form">Guardar</button>
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </div>
        </form>
    </div>
     -->
</div>