<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Usuarios</h4>
                </div>
                <div class="content">
                    <ul>
                        <li> <i class="fa fa-times"></i> Liam Lotus </li>
                        <li> <i class="fa fa-times"></i> Madison Seat </li>
                        <li> <i class="fa fa-times"></i> Daniel Suzuki </li>
                        <li> <i class="fa fa-times"></i> Michael Ford </li>
                        <li> <i class="fa fa-times"></i> William Dodge </li>
                        <li> <i class="fa fa-times"></i> Sophia Chrysler </li>
                        <li> <i class="fa fa-times"></i> Daniel Lotus </li>
                        <li> <i class="fa fa-times"></i> Jacob Chrysler </li>
                        <li> <i class="fa fa-times"></i> Emily Nissan </li>
                        <li> <i class="fa fa-times"></i> Jayden Renault </li>
                        <li> <i class="fa fa-times"></i> Liam Kia </li>
                        <li> <i class="fa fa-times"></i> Madison Honda </li>
                        <li> <i class="fa fa-times"></i> Noah Audi </li>
                        <li> <i class="fa fa-times"></i> Mia Range </li>
                        <li> <i class="fa fa-times"></i> Liam Hyundai </li>
                        <li> <i class="fa fa-times"></i> Olivia Daewo </li>
                        <li> <i class="fa fa-times"></i> Noah Honda </li>
                        <li> <i class="fa fa-times"></i> Daniel Kia </li>
                        <li> <i class="fa fa-times"></i> Madison Nissan </li>
                        <li> <i class="fa fa-times"></i> William Ford </li>
                        <li> <i class="fa fa-times"></i> Mason Kia </li>
                        <li> <i class="fa fa-times"></i> Noah Wolks </li>
                        <li> <i class="fa fa-times"></i> Alexander Suzuki </li>
                        <li> <i class="fa fa-times"></i> Emily Jeep </li>
                        <li> <i class="fa fa-times"></i> Emily Chrysler </li>
                        <li> <i class="fa fa-times"></i> Abigail Ferrari </li>
                        <li> <i class="fa fa-times"></i> Alexander Audi </li>
                        <li> <i class="fa fa-times"></i> Sophia Audi </li>
                        <li> <i class="fa fa-times"></i> Ava Chrysler </li>
                        <li> <i class="fa fa-times"></i> Ethan Audi </li>
                        <li> <i class="fa fa-times"></i> Mason Ferrari </li>
                        <li> <i class="fa fa-times"></i> William Nissan </li>
                        <li> <i class="fa fa-times"></i> Olivia Rolls </li>
                        <li> <i class="fa fa-times"></i> Aiden Lexus </li>
                        <li> <i class="fa fa-times"></i> Mia Range </li>
                        <li> <i class="fa fa-times"></i> Olivia Renault </li>
                        <li> <i class="fa fa-times"></i> Jacob Dodge </li>
                        <li> <i class="fa fa-times"></i> Liam Suzuki </li>
                        <li> <i class="fa fa-times"></i> Mason Lotus </li>
                        <li> <i class="fa fa-times"></i> Ava Range </li>
                        <li> <i class="fa fa-times"></i> Isabella Seat </li>
                        <li> <i class="fa fa-times"></i> Mia Nissan </li>
                        <li> <i class="fa fa-times"></i> Aiden Suzuki </li>
                        <li> <i class="fa fa-times"></i> Daniel Lexus </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>