<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>urTeam - Tu web del deporte</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/events.css">
</head>
<body>
    {{> navbar_template}}

    <div class="container">
        <!-- FILTRO -->
        <nav class="navbar filterNav">
            <div class="container-fluid">
                <form class="navbar-form navbar-left">
                    <div class="form-group filterSelects">
                        <select>
                            <option value="">Ordenar por deporte...</option>
                            <option value="mtb">Mountain Bike</option>
                            <option value="running">Running</option>
                            <option value="roller">Roller</option>
                        </select>
                        <select>
                            <option value="">Ordenar por fecha...</option>
                            <option value="by-new">Más nuevo primero</option>
                            <option value="by-old">Más viejo primero</option>
                        </select>
                    </div>
                </form>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buscar...">
                        <button type="submit" class="btn fa fa-search" role="search"></button>
                    </div>

                </form>
            </div>
        </nav>
        <!-- FIN FILTRO -->
        <div class="btn-events"><a href="addEvent"><button class="btn mybtn-succes">Crear evento</button></a></div>
        <!-- ROW -->
        <div class="row">
            <!-- CONTENT -->
            <div id="content">
                <!-- EVENT -->
                {{#eventos}}
                	{{> event_template}}
                {{/eventos}}              
                <!-- END EVENT -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END ROW -->
    </div>
    <!-- END CONTAINER -->
 	{{> footer_template}}
 	
 	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="http://c.fzilla.com/1286136086-jquery.js"></script>
    <script src="http://c.fzilla.com/1291523190-jpaginate.js"></script>
</body>
</html>