<meta charset="UTF-8">
<div class="col-sm-4">
                    <div class="panel panel-primary event-primary">
                        <div class="panel-heading">
                            <div class="row nopadding">
                                <div class="col-sm-9 nopadding">
                                    <span class="name">{{name}}</span>
                            </div>
                            <div class="col-sm-3 nopadding">
                                <span class="year">{{year_date}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body nopadding">
                            <sport>
                                <p>{{sport}}</p>
                            </sport>
                            <img src="/images/events/event_San-silvestre-vallecana-2017.jpg" alt="{{name}}" class="img-responsive" />
                            <div class="row nopadding">
                                <div class="col-sm-6 nopadding">
                                    <time class="start blue">
                                Fecha <span class="day">{{day_date}}</span>
                            <span class="month">{{month_date}}</span>
                            </time>
                                </div>
                                <div class="col-sm-6 nopadding">
                                    <time class="end blue">
                                Precio <span class="day">{{price}}</span>
                                <span class ="month">€</span>
                            </time>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer panel-primary">
                            <p>
                            {{info}}
                            </p>
                            <a href="/event/{{id}}" class="btn btn-success mybtn-succes">Más información</a>
                        </div>
                    </div>
                </div>  