<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>urTeam - Tu web del deporte</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/groups.css">
</head>

<body>
    {{> navbar_template}}
    <div class="container">
        <!-- FILTRO 
        <nav class="navbar filterNav">
            <div class="container-fluid">
                <form class="navbar-form navbar-left">
                    <div class="form-group filterSelects">
                        <select onChange="window.location.href=this.value">
                            <option value="">Ordenar por deporte...</option>
                            <option value="/sortGroupBySport/?sport=mtb">Mountain Bike</option>
                            <option value="/sortGroupBySport/?sport=running">Running</option>
                            <option value="/sortGroupBySport/?sport=roller">Roller</option>
                        </select>
                       
                    </div>
                </form>
                <form class="navbar-form navbar-right" action="/sortGroupByName" method="get">
                    <div class="form-group ">
                        <input name="name" type="text" class="form-control" placeholder="Buscar...">
                        <button type="submit" class="btn fa fa-search" role="search"></button>
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                    </div>

                </form>
            </div>
        </nav>
        <!-- FIN FILTRO -->
        <div class="btn-groups"><a href="/addGroup"><button class="btn mybtn-succes">Crear comunidad</button></a></div>
       
       <div id="listGroups">
         {{#communitys}} {{> group_template}} {{/communitys}}  
         </div>
         <br>
         <div class="styleMoreEvents">
        	<div id="spinner"></div>
        	<button id="btnMoreGroups" type="button" class="btn mybtn-succes btnMoreGroups">Ver más</button>
        </div>



       








        
    </div>

    <br>
    <br>

    {{> footer_template}}

	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
      <script src="/js/moreGroups.js"></script>
</body>

</html>
