<meta charset="UTF-8">
<a href="/group/{{id}}" >
            <div class="row group">
                <div class="group-info">
                    <div class="col-sm-2 group-image">
                        <img class="img-circle img-responsive group-image" width="110px" src="/images/avatar.jpg">
                    </div>
                    <div class="col-sm-8">
                        <h1 class="group-name">{{name}}</h1>
                        {{#sport}}
                        <div class="badge">{{sport}}</div>
                        {{/sport}}
                        <hr>
                        <div class="group-members">300 miembros</div>
                    </div>
                    <div class="col-sm-2 group-button">
                        <button class="btn btn-default group-btn">UNIRME</button>
                    </div>
                </div>
            </div>
        </a>