<meta charset="UTF-8">
<a href="/group/{{id}}">
	<div class="row group">
		<div class="group-info">
			<div class="col-sm-2 group-image">
				{{#main_photo}}
				<img class="img-circle img-responsive group-image" width="110px" alt="{{name}}" src="/image/community-avatar/{{communityId}}/{{main_photo}}">
				{{/main_photo}}
				{{^main_photo}}
				<img class="img-circle img-responsive group-image" width="110px" alt="{{name}}" src="/image/community-avatar/{{communityId}}/default-mainphoto">
				{{/main_photo}}
			</div>
			<div class="col-sm-8">
				<h1 class="group-name">{{name}}</h1>
				{{#sport}}
				<div class="badge">{{sport}}</div>
				{{/sport}}
				<hr>
				<div class="group-members">{{communityUsers.size}} miembros</div>
			</div>
			<div class="col-sm-2 group-button">
				<form action="/group/{{id}}/follow" method="post">
					{{#communityFollowed}} 
						<input type="submit" class="btn btn-default group-btn mybtn-succes" value="Dejar de seguir">
						<input type="hidden" name="_csrf" value="{{token}}" />
					{{/communityFollowed}}
					{{^communityFollowed}} 
						<input type="submit" class="btn btn-default group-btn mybtn-succes" value="Seguir">
						<input type="hidden" name="_csrf" value="{{token}}" />
					{{/communityFollowed}}
				</form>
			</div>
		</div>
	</div>
</a>