<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>urTeam</title>
  <link rel="shortcut icon" href="images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/events.css">
</head>

<body>

    {{> navbar_template}}

    <!-- VIDEO-BACKGROUND -->

    <div class="video-box">
        <div id="video-container">
          
            <div class="container">
                <br>
                <br>
              <img alt="urTeam" src="/images/logo.png" width="250px">
                 <hr>
                 <h3>Conecta con comunidades y eventos de tus deportes favoritos</h3>
            </div>
           
        </div>
        <!-- end video-container -->
    </div>
    <!-- end .video-box -->

    <!-- END VIDEO-BACKGROUND -->

    <div class="container">
    
        <!-- ----------------------------- Primera fila de los eventos ------------------------------ -->
        <h2 class="sport_title"><i class="fa fa-bicycle" aria-hidden="true" style="color:#c5c0c1;"></i> Mountain Bike </h2>
        <hr class="hr-yellow">
        <br>
        <div class="row">
	        {{# first_events}}
	        	{{> event_template}}
	        {{/ first_events}}
		</div>
        <br>

        <!-- ----------------------------- Segunda fila de los eventos ------------------------------ -->
        <h2 class="sport_title"><i class="fa fa-road" aria-hidden="true" style="color:c5c1c0;"></i> Running</h2>
        <hr class="hr-yellow">
        <br>

        <div class="row">
            {{# second_events}}
	        	{{> event_template}}
	        {{/ second_events}}
        </div>
        <br>

        <!-- ----------------------------- Tercera fila de los eventos ------------------------------ -->
        <h2 class="sport_title">
            <img class="myicon" src="/images/skate.svg" alt="Roller">Roller</h2>
        <hr class="hr-yellow">
        <br>

        <div class="row">
            {{# third_events}}
	        	{{> event_template}}
	        {{/ third_events}}
        </div>
    </div>
 	{{> footer_template}}
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>
