<meta charset="UTF-8">
<nav class="navbar-fixed-top navbar-urTeam" role="navigation">
        <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Desplegar navegación</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
            </button>
            <a class="navbar-left" href="/"><img alt="urTeam" src="/images/logo.png" width="150px"></a>
        </div>

        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
        <div class="collapse navbar-collapse navbar-ex1-collapse navbar-inner">
            <ul class="nav navbar-nav minav">
                <li {{#events_active}}class="active"{{/events_active}}><a href="/events">Eventos</a></li>
                <li {{#groups_active}}class="active"{{/groups_active}}><a href="/groups">Comunidades</a></li>
            </ul>
            {{#logged}}
            <ul class="nav navbar-nav navbar-right minav">
				<li class="dropdown  {{#user_active}}active{{/user_active}}"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"> <span class="user-name">
							{{user.nickname}} </span> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<div class="navbar-content">
								<span>{{user.nickname}}</span>
								<p class="text-muted small">{{user.email}}</p>
								<div class="divider"></div>
								<a data-toggle="modal" data-target="#profile-settings-modal">
									<button class="btn btn-default btn-sm mybtn-succes">
										<iclass ="fa fa-cogs" aria-hidden="true"> </i>Configuración										
									</button>
								</a> <a href="/logout"
									class="btn btn-default btn-sm mybtn-succes"><i
									class="fa fa-power-off" aria-hidden="true"></i> Sign Out</a>
							</div>
						</li>
					</ul></li>
			</ul>
			{{/logged}}
			{{^logged}}
            <ul class="nav navbar-nav navbar-right minav">
                <li {{#user_active}}class="active"{{/user_active}}><a href="/login">Iniciar Sesión / Registro</a></li>
            </ul>
            {{/logged}}
        </div>
    </nav>