<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<title>urTeam - Tu web del deporte</title>
<link rel="shortcut icon" href="/images/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/user.css">
<link rel="stylesheet" href="/css/scrolling-nav.css">

	<script type="text/javascript">
		window.onload = function () {
			var chart = new CanvasJS.Chart("chartContainer", {
				title: {
					text: "Basic Spline Chart"
				},
				data: [{
					type: "spline",
					dataPoints: [
					  { x: 10, y: 230 },
					  { x: 20, y: 0 },
					  { x: 30, y: 380 },
					  { x: 40, y: 567 },
					  { x: 50, y: 280 },
					  { x: 60, y: 507 },
					  { x: 70, y: 680 },
					  { x: 80, y: 287 },
					  { x: 90, y: 460 },
					  { x: 100, y: 509 }
					]
				}]
			});
			chart.render();
		}
	</script>

</head>

<body>
	<nav class="navbar-fixed-top navbar-urTeam" role="navigation">
		<!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-ex1-collapse">
				<span class="sr-only">Desplegar navegación</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-left" href="index.html"><img calt="urTeam"
				src="/images/logo.png" width="150px"></a>
		</div>

		<!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
		<div class="collapse navbar-collapse navbar-ex1-collapse navbar-inner">

			<ul class="nav navbar-nav minav">
				<li><a href="events.html">Eventos</a></li>
				<li><a href="groups.html">Comunidades</a></li>

			</ul>
			<ul class="nav navbar-nav navbar-right minav">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"> <span class="user-name">
							{{user.nickname}} </span> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<div class="navbar-content">
								<span>{{user.nickname}}</span>
								<p class="text-muted small">{{user.email}}</p>
								<div class="divider"></div>
								<a data-toggle="modal" data-target="#profile-settings-modal">
									<button class="btn btn-default btn-sm mybtn-succes">
										<iclass ="fa fa-cogs" aria-hidden="true"> </i>Configuración






										
									</button>
								</a> <a href="index.html"
									class="btn btn-default btn-sm mybtn-succes"><i
									class="fa fa-power-off" aria-hidden="true"></i> Sign Out</a>
							</div>
						</li>
					</ul></li>
			</ul>


		</div>
	</nav>
	<div class="row profile">

		<div class="col-md-3">

			<!-- Start of left column -->
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="/image/user-avatar/{{user.generatedId}}/{{user.avatar}}"
						class="img-responsive" alt="avatar">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">{{user.username}}
						{{user.surname}}</div>
					<div class="profile-usertitle-name">@{{user.nickname}}</div>
					<div class="profile-usertitle-name">{{numberOfFollowers}}
						Seguidore/s</div>
					<div class="profile-usertitle-name">{{user.city}},
						{{user.country}}</div>
					<div class="profile-usertitle-job">Puntuación: {{user.score}}</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-sm mybtn-succes">Añadir</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active"><a href="#profile" class="page-scroll">
								<i class="fa fa-user-circle" aria-hidden="true"></i> Perfil
						</a></li>

						<li><a href="#progress" class="page-scroll"> <i
								class="fa fa-line-chart" aria-hidden="true"></i> Progreso
						</a></li>

						<li><a href="#communities" class="page-scroll"> <i
								class="fa fa-users" aria-hidden="true"></i> Comunidades
						</a></li>
						<li><a href="#goals" class="page-scroll"> <i
								class="fa fa-flag-checkered" aria-hidden="true"></i> Logros
						</a></li>

						<li><a href="#friends" class="page-scroll"> <i
								class="fa fa-address-book" aria-hidden="true"></i> Siguiendo
						</a></li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
			<div class="profile-content">
				<div class="container-fluid info-box" id="profile">
					<div class="row">
						<div class="col-sm-12">

							<h3>
								<i class="fa fa-user-circle" aria-hidden="true"></i> Perfil
							</h3>

						</div>
					</div>
					<!--/row-->
					<hr class="hr-yellow">
					<div class="row">{{user.bio}}</div>
					<br> <br>
				</div>
				<div class="container-fluid info-box" id="progress">
					<div class="row">
						<div class="col-sm-12">
							<h3>
								<i class="fa fa-line-chart" aria-hidden="true"></i> Progreso
							</h3>
						</div>
					</div>
					<!--/row-->
					<hr class="hr-yellow">
					<div class="row">
						<!-- start of chart -->
						<div id="chartContainer" style="height: 400px; width: 100%;"></div>
						<!-- end of chart -->
					</div>
					<br> <br>
				</div>
				<div class="container-fluid info-box" id="communities">
					<div class="row">
						<div class="col-sm-12">
							<h3>
								<i class="fa fa-users" aria-hidden="true"></i> Comunidades
							</h3>
						</div>
					</div>
					<!--/row-->
					<hr class="hr-yellow">
					<div class="row">
						{{#communities}}
						<div class="container-fluid">
							<div class="row group">
								<div class="group-info">
									<div class="col-sm-2 group-image">
										<img class="img-circle img-responsive group-image"
											width="110px"
											src="/image/community-avatar/{{communityId}}/{{main_photo}}">
									</div>
									<a href="/group/{{id}}">
										<div class="col-sm-8">
											<h1 class="group-name">{{name}}</h1>
											<div class="badge">{{sport}}</div>
											<hr>
											<div class="group-members">{{members}} miembros</div>
										</div>
									</a>
									<div class="col-sm-2 group-button">
										<button class="btn btn-default group-btn">DEJAR</button>
									</div>
								</div>
							</div>
						</div>
						{{/communities}}
					</div>
					<br> <br>
				</div>
				<div class="container-fluid info-box" id="goals">
					<div class="row">
						<div class="col-sm-12">
							<h3>
								<i class="fa fa-flag-checkered" aria-hidden="true"></i> Logros
							</h3>
						</div>
					</div>
					<!--/row-->
					<hr class="hr-yellow">
					<div class="row">
						<div class="skillBar">
							<h4>MTB Nivel 2</h4>
							<div class="skillBarContainer">
								<div class="skillBarValue value-50"></div>
							</div>
						</div>

						<div class="skillBar">
							<h4>Runner Nivel 3</h4>
							<div class="skillBarContainer">
								<div class="skillBarValue value-80"></div>
							</div>
						</div>
					</div>
					<br> <br>
				</div>
				<div class="container-fluid info-box" id="friends">
					<div class="row">
						<div class="col-sm-12">
							<h3>
								<i class="fa fa-address-book" aria-hidden="true"></i> Siguiendo
							</h3>
						</div>
						<!--/row-->
						<hr class="hr-yellow">
						<div class="row friendrow">
							{{#following}}
							<div class="col-sm-6">
								<a href="/userprofile/{{id}}">
									<div class="friend">
										<div class="col-sm-3 friend-image">
											<img class="img-circle img-responsive group-image"
												width="110px" src="/image/user-avatar/{{avatar}}"
												alt="following avatar">
										</div>
										<div class="col-sm-9 friend-name">
											<h3>{{username}} {{surname}}</h3>
										</div>
									</div>
								</a>
							</div>
							{{/following}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="profile-settings-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Configuración de tu perfil</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-9">
							<form class="form-horizontal" role="form"
								action="/userprofile/{{id}}/edit" method="post"
								enctype="multipart/form-data">
								<div class="form-group">
									<div class="col-md-9">

										<div class="text-center">
											<img src="/image/user-avatar/{{user.avatar}}"
												class="avatar img-circle" alt="avatar">
											<h6>Cambiar avatar</h6>
											<input class="form-control" type="file" name="file"
												aria-describedby="fileHelp">
										</div>
									</div>
								</div>



								<div class="form-group">
									<label for="firstName" class="col-sm-3 control-label">Nombre</label>
									<div class="col-sm-9">
										<input type="text" id="firstName" value="{{user.username}}"
											class="form-control" autofocus required="required"
											name="username">

									</div>
								</div>
								<div class="form-group">
									<label for="lastName" class="col-sm-3 control-label">Apellidos</label>
									<div class="col-sm-9">
										<input type="text" id="lastName" value={{user.surname}}
											class="form-control" autofocus required="required"
											name="surname">
									</div>
								</div>
								<div class="form-group">
									<label for="email" class="col-sm-3 control-label">Email</label>
									<div class="col-sm-9">
										<input type="email" id="email" value={{user.email}}
											class="form-control" required="required" name="email">
									</div>
								</div>
								<!-- 
							<div class="form-group">
								<label for="nickname" class="col-sm-3 control-label">Nickname</label>
								<div class="col-sm-9">
									<input type="text" id="password" value={{user.nickname}}
										class="form-control">
								</div>
							</div>
							 -->
								<div class="form-group">
									<label for="bio" class="col-sm-3 control-label">Biografia</label>
									<div class="col-sm-9">
										<textarea class="form-control" rows="5" name="bio">{{user.bio}}</textarea>
									</div>
								</div>
								<!--  <div class="form-group">
								<label for="birthDate" class="col-sm-3 control-label">Fecha
									de nacimiento</label>
								<div class="col-sm-9">
									<input type="date" id="birthDate" class="form-control">
								</div>
							</div> -->
								<div class="form-group">
									<label for="city" class="col-sm-3 control-label">Ciudad</label>
									<div class="col-sm-9">
										<input type="text" id="city" value={{user.city}}
											class="form-control" name="city">
									</div>
								</div>
								<div class="form-group">
									<label for="country" class="col-sm-3 control-label">Pais</label>
									<div class="col-sm-9">
										<input type="text" id="country" value={{user.country}}
											class="form-control" name="country">
									</div>
								</div>
								<div class="col-sm-9 col-sm-offset-3">
									<button type="submit"
										class="btn btn-primary btn-block mybtn-succes">Guardar</button>
								</div>
							</form>
							<!-- /form -->
						</div>
					</div>
					<!-- row -->
				</div>
			</div>

		</div>
	</div>

	{{> footer_template}}






	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<!--Page scroll-->
	<script src="/js/jquery.easing.min.js"></script>
	<script src="/js/scrolling-nav.js"></script>

	<!-- charts -->
	<script src="/js/canvasjs.min.js"></script>


	<!-- Navigation bar -->
	<script>
		$(function() {
			$('[data-toggle="tooltip"]').tooltip()
		})

		$(function() {
			$('[data-toggle="popover"]').popover()
		})
	</script>

</body>

</html>
