.event-primary h2 {
    margin-top: 10px;
}

.nopadding {
    padding: 0 !important;
    margin: 0!important;
}

.name {
    color: #c5c0c1;
    display: block;
    font-size: 2em;
    font-weight: lighter;
    line-height: 1;
}

.year {
    color: #c5c0c1;
    display: block;
    font-size: 2em;
    font-weight: lighter;
    line-height: 1;
}

sport {
    padding-left: 15px;
    display: block;
}

sport>p {
    font-size: 15pt;
    font-weight: lighter;
    line-height: 1;
}

time {
    display: inline-block;
    width: 100%;
    color: #c5c0c1;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

time.blue {
    background-color: #1a2930
}

time.yellow {
    background-color: #f7ce3e
}

time.white {
    background-color: #c5c0c1
}

time.black {
    background-color: #0a1612
}

time>span {
    display: none;
}

time>.day {
    display: block;
    font-size: 4em;
    font-weight: lighter;
    line-height: 1;
}

time>.month {
    display: block;
    font-size: 24pt;
    font-weight: bold;
    line-height: 1;
}

.panel {
    margin-top: 20px;
}

.panel-primary>.panel-heading {
    background-color: #0a1612;
    border-color: #0a1612;
    overflow: auto;
}

.panel-primary>.panel-body {
    color: #c5c0c1!important;
    background-color: #0a1612;
    border-color: #000;
}

.panel-primary>.panel-footer {
    color: #c5c0c1!important;
    background-color: #0a1612;
    border-color: #0a1612;
}

.panel-primary>.panel-footer p {
    color: #c5c0c1;
}

.panel-primary a {
    color: #0a1612;
}
