/* CSS del navbar*/

.navbar-urTeam {
    background-color: #0a1612;
    color: #9c89b8;
    margin: auto;
}

.icon-bar {
    background-color: #32bdf0;
    border-color: #32bdf0;
}

.minav {
    margin: auto;
}

.minav a {
    color: #c5c1c0;
    font-weight: bold;
    margin: auto;
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

.minav li a:hover {
    text-decoration: underline;
    background-color: transparent;
}

.minav .active a,
.minav .active a:hover {
    color: #f7ce3e;
    border-bottom-style: solid;
    border-bottom-color: #f7ce3e;
    background-color: transparent;
    text-decoration: none;
}


/* CSS del body y su contenido*/

body {
    background-color: #1a2930;
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bg2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-top: 70px;
}


/* Esto adapta la imagen al contenedor */

img {
    max-width: 100%;
    max-height: 100%;
}


/* CSS de los eventos */

.event {
    background-color: black;
    overflow: auto;
    margin-bottom: 30px;
}

.event_date {
    padding-left: 10px;
}

.event_info {
    margin-top: 20px;
    border-top: 1px solid white;
    margin-bottom: 20px;
}

.event_participants {
    text-align: right;
}

.inline {
    display: inline-block;
}

.sport_title {
    color: #c5c0c1;
}

.mybtn-succes {
    color: #0a1612;
    background-color: #f7ce3e;
    border-color: #f7ce3e;
}

.mybtn-succes:hover,
.mybtn-succes:focus {
    color: #0a1612;
    background-color: #c5a431;
    border-color: #c5a431;
}
