/* CSS del navbar*/

.navbar-urTeam {
    background-color: #5eba7d;
    color: #9c89b8;
    margin: auto;
}

.icon-bar {
    background-color: #32bdf0;
    border-color: #32bdf0;
}

.minav {
    margin: auto;
}

.minav a {
    color: white;
    font-weight: bold;
    margin: auto;
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

.minav li a:hover {
    text-decoration: underline;
    background-color: transparent;
}

.minav .active a,
.minav .active a:hover {
    color: #32bdf0;
    border-bottom-style: solid;
    border-bottom-color: #32bdf0;
    text-shadow: 1px 1px #4f5b9d;
    background-color: transparent;
    text-decoration: none;
}


/* CSS del body y su contenido*/

body {
    background-color: black;
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 


}




/* Esto adapta la imagen al contenedor */

img {
    max-width: 100%;
    max-height: 100%;
}


/* CSS de los eventos */

.event {
    background-color: black;
    overflow: auto;
    margin-bottom: 30px;
}

.event_date {
    padding-left: 10px;
}

.event_info {
    margin-top: 20px;
    border-top: 1px solid white;
    margin-bottom: 20px;
}

.event_participants {
    text-align: right;
}

.inline {
    display: inline-block;
}

.sport_title {
    color: #32bdf0;
}
