<div class="container">
<div class="form-container">
  <form class="form-group">
    <div class="form-group">
      <label for="groupName">Nombre del grupo*</label>
      <input [(ngModel)]="groupName" type="text" class="form-control" id="groupName" placeholder="Nombre" name="name">

    </div>
    <div class="form-group">
      <label for="groupLoc">Ubicación principal del grupo*</label>
      <input [(ngModel)]="groupCity" type="text" class="form-control" id="groupLoc" placeholder="Ubicación" name="city">
    </div>
    <div class="form-group">
      <label for="exampleSelect1">Deportes</label>
      <select [(ngModel)]="groupSport" name="sport" class="form-control" id="exampleSelect1">
      <option>Mountain Bike</option>
      <option>Runnig</option>
      <option>Roller</option>


    </select>
    </div>


    <div class="form-group">
      <label for="groupDesc">Descripcion del equipo</label>
      <textarea [(ngModel)]="groupInfo" class="form-control" id="groupDesc" rows="4" name="info"></textarea>
    </div>
    <div class="form-group">
      <label for="groupAvatar">Avatar</label>
      <input type="file" class="form-control-file" id="groupAvatar" aria-describedby="fileHelp" (change)="selectFile($event)">
      <small id="fileHelp" class="form-text text-muted">Tamaño recomendado 200px x 200px</small>
    </div>

    
    <div style="text-align:center;">
      <button type="submit" class="btn btn-primary btn-form" (click)="createCommunity()">Crear grupo</button>
    </div>
  </form>


</div>

</div>