  <div class="container">
  
  <div *ngIf="sessionService.getisLogged()" class="btn-groups">

      <a [routerLink]="['/communities/create']"><button class="btn mybtn-succes">Crear comunidad</button></a>

      </div>
  
  <div *ngFor="let group of communities" >
   
     <a [routerLink]="['../communities', group.id]">
            <div class="row group">
                <div class="group-info">
                    
                   
                    <div class="col-sm-2 group-image" *ngIf="group.main_photo">
                        <img class="img-circle img-responsive group-image" width="110px" src="https://localhost:8443/api/groups/{{group.id}}/avatar">
                    </div>

                    <div class="col-sm-2 group-image" *ngIf="!group.main_photo">
                        <img class="img-circle img-responsive group-image" width="110px" src="http://icons.iconarchive.com/icons/blackvariant/button-ui-system-folders-alt/512/Group-icon.png">
                    </div>

                    <div class="col-sm-8">
                        <h1 class="group-name">{{group.name}}</h1>
                        <div class="badge">{{group.sport}}</div>
                       
                        <hr>
                        <div class="group-members">Miembros: {{group.communityUsers.length}}</div>
                    </div>
                    <!--<div class="col-sm-2 group-button">
                        <button class="btn btn-default group-btn">UNIRME</button>
                    </div>-->
                </div>
            </div>
        </a>
  </div>
  <div class="styleMoreEvents">
        <button id="btnMoreEvents" type="button" class="btn mybtn-succes btnMoreEvents" (click)="moreGroups()">{{moreGroupsButtonText}}</button>
      </div>
</div>
