<div class="video-box">
  <div id="video-container">
      <div class="container">
          <br>
          <br>
          <img alt="urTeam" src="../../assets/images/logo.png" width="250px">
          <hr>
          <h3>Conecta con comunidades y eventos de tus deportes favoritos</h3>
      </div>
  </div>
</div>
<div class="container">
  <h2 class="sport_title">
    <i class="fa fa-bicycle" aria-hidden="true" style="color:#c5c0c1;"></i>
     Mountain Bike 
  </h2>
  <hr class="hr-yellow">
  Aqui eventos
  <br>
  <h2 class="sport_title">
    <i class="fa fa-bicycle" aria-hidden="true" style="color:#c5c0c1;"></i>
     Running 
  </h2>
  <hr class="hr-yellow">
  Aqui eventos
    <br>
  <h2 class="sport_title">
    <i class="fa fa-bicycle" aria-hidden="true" style="color:#c5c0c1;"></i>
     Roller 
  </h2>
  <hr class="hr-yellow">
  Aqui eventos
  <br>
</div>