<footer>
	<div class="footer" id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
					<h3>Categorias</h3>
					<ul>
						<li><a href="/events"> Eventos </a></li>
						<li><a href="/groups"> Comunidades </a></li>
					</ul>
				</div>
				<div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
					<h3>Herramientas</h3>
					<ul>
						<li><a href="/addEvent"> Crear evento </a></li>
						<li><a href="/addGroup"> Crear comunidad </a></li>
					</ul>
				</div>
				<div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
					<h3>Mi area</h3>
					<ul>
						<li><a href="/user/"> Mi perfil </a></li>
						<li><a href="/user/"> Mis eventos </a></li>
						<li><a href="#"> Mis comunidades </a></li>
						<li><a href="/user/"> Siguiendo </a></li>
					</ul>
				</div>
				<div class="col-lg-3  col-md-3 col-sm-12 col-xs-6 ">
					<h3>Nuestras RRSS</h3>
					<ul class="social">
						<li><a href="#"> <i class="fa fa-facebook">   </i>
						</a></li>
						<li><a href="#"> <i class="fa fa-twitter">   </i>
						</a></li>
						<li><a href="#"> <i class="fa fa-youtube">   </i>
						</a></li>
					</ul>
				</div>
			</div>
			<!--/.row-->
		</div>
		<!--/.container-->
	</div>
	<!--/.footer-->

	<div class="footer-bottom">
		<div class="container">
			<p class="pull-left">urTeam Web App. Under Apache 2.0 license.</p>
		</div>
	</div>
</footer>